{% if site.data.settings.portfolio-home-items %}
<!-- portfolio -->
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h2 class="section-title">Github Projects</h2>
      </div>
    </div>
    <div class="row shuffle-wrapper">
      {% for item in site.data.settings.portfolio-home-items %}
      <div class="col-lg-4 col-6 mb-4 shuffle-item">
        <div class="position-relative rounded hover-wrapper">
          <img src="{{ site.baseurl }}/{{ item.image }}" alt="portfolio-image" class="img-fluid rounded w-100 d-block">
          <div class="hover-overlay">
            <div class="hover-content">
              <a class="btn btn-light btn-sm" href="{{ item.url }}">view project</a>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
<!-- /portfolio -->
{% endif %}
{% if site.data.settings.portfolio-home-list %}
<!-- short text list -->
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h2 class="section-title">More Projects & Tools</h2>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-lg-8">
        <ul class="list-group list-group-flush">
          {% for item in site.data.settings.portfolio-home-list %}
          <li class="list-group-item px-0">
            {% if item.url %}
              {{ item.url }}
                {{ item.text }}
              </a>
            {% else %}
              {{ item.text }}
            {% endif %}
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</section>
<!-- /short text list -->

{% endif %}
